<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">List Due Invoices</h2>
        <h3 class="oe_slogan">Way to list due invoices based on the selected due date</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Procedures</h2>
        <h3 class="oe_slogan">Easy listing of due customer or vendor invoices</h3>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                This will list past due and on due invoices depending on your selected due date.
            </p>
            <img class="oe_picture oe_screenshot" src="list_due_invoices_menus.png">
            <img class="oe_picture oe_screenshot" src="list_due_invoices_wizard.png">
            <img class="oe_picture oe_screenshot" src="list_due_invoices_result.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Compatibility</h2>
        <div>
            <h4><p>This module is compatible and perfect with this module:</p></h4>
            <ul>
                <li style="list-style:none !important;">
                    <span style="color:green;"> &#9745;</span>&nbsp;&nbsp;
                    <a href="https://apps.odoo.com/apps/modules/9.0/account_invoice_bulk_payment_mac5/">Accounting / Invoice Bulk Payment</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Requests / Comments</h2>
        <h3 class="oe_slogan oe_mb32">Email: <a href="mailto:macvillamar@live.com">macvillamar@live.com</a></h3>
        <div class="oe_span12 text-center" style="font-size: 2px;">
            Keywords: Odoo Due Customer Invoices, Odoo Due Vendor Invoices, Odoo Due Supplier Invoices, Odoo Due Vendor Bills, Odoo Due Invoices
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
