<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Payment Information In Invoice Report</h2>
        <div class="oe_span12">
            <p class="oe_mt32">
                <center>This module is use to show payment information in invoice report. </center>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
<div class="oe_centeralign">
                <a href="https://youtu.be/5Q8jraaXST0" target="new" class="oe_button oe_big" style="background-color: red;">VIDEO</a>
            </div>
            
            </div>
            </section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Configuration</h2>
        <span style="font-size:20px;"><center>Make sure that you have Uncheck "Reload from Attachment" option </center></span>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="setting.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Invoice report with payment information</h2>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="inv_report.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #004CFF;">
    <div class="oe_row "> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
        <div>
            <h2 class="text-center" style="font-size:30px; color:#FFF">Free Support</h3><br/>
               <span class="text-center" style="font-size:20px; color:#FFF"> You will get 50 Days free support incase any bugs or issue (Except data recovery).</span>
        </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #004CFF;">
    <div class="oe_row "> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFF">Contact us for support, customization</h3>
        </div>
            <span> 
                <a href="mailto:contact.hiren1188@gmail.com" style="color: yellow !important;font-weight:bold;">Write us</a> | <a style="color: yellow !important;font-weight:bold;" href="skype:contact.hiren1188?chat">Contact us on Skype</a>
            </span><br/>
            <span style="color: yellow !important;font-weight:bold;">Email : contact.hiren1188@gmail.com</span><br/>
            <span style="color: yellow !important;font-weight:bold;">Skype : contact.hiren1188</span>
        </div>
    </div>
</section>
